DISCORD_BOT_TOKEN=
OPENAI_TOKEN=
OPENAI_ENDPOINT=https://api.gptapi.us/v1
# GPT_ENGINE option: ['gpt-3.5-turbo', 'gpt-3.5-turbo-16k', 'gpt-3.5-turbo-0301', 'gpt-3.5-turbo-0613', 'gpt-3.5-turbo-16k-0613', 'gpt-4', 'gpt-4-0314', 'gpt-4-32k', 'gpt-4-32k-0314', 'gpt-4-0613', 'gpt-4-32k-0613', 'gpt-4-1106-preview']
GPT_ENGINE=gpt-4-0125-preview

MISTRAL_TOKEN=
MISTRAL_ENDPOINT=https://api.mistral.ai/v1
# MISTRAL_ENGINE option: ['mistral-medium', 'mistral-small', 'mistral-tiny']
MISTRAL_ENGINE=mistral-medium

CMC_KEY=

REPLY_MAX_TOKEN=500
HISTORY_MAX_TOKEN=8192
RUST_LOG=INFO